@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #131e30;
  --color-secondary: #fb8822;
  --color-tertiary: #b3b3b3;
  --color-accent: #1a4178;
  --color-support-1: #1b263d;
  --color-support-2: #d8dce3;
  --color-black-1: #000000;
  --color-black-2: #282828;
  --color-black-3: #4f4f4f;
  --color-white: #ffffff;
  --color-info: #027bff;
  --color-success: #28a745;
  --color-warning: #ff722b;
  --color-error: #ed2c2c;
  --color-extra-1: #d9d9d9;
  --color-extra-2: #ffb7b0;
  --color-extra-3: #ffdc7f;
  --color-extra-4: #ffba94;
  --color-extra-5: #c5ef9e;
  --color-extra-6: #b4e1fd;
  --color-extra-7: #fee4b3;
  --color-extra-8: #b2d7e2;
  --color-extra-9: #e7c9f6;
  --color-extra-10: #df7619;

  --color-borderDefault: #d9d9d9;

  --font-poppins: "Poppins";
}

* {
  @apply font-poppins;
}
